<h1>Instant Messaging</h1>
<h1>Xmpp4r + Rails + Openfire</h1>
<br>
		<% if @client %>
			 <script type="text/javascript">
    					window.location.href="/sessions/new"  // put your correct path in a string here
  			</script>
		<% end %>
<hr>
	<%= $log %>
<hr> 
	<h2>Login</h2>
	<%= form_tag login_path do |f| %>
		<p>
		  Usuário: <%= text_field_tag :username %>
		</p>
		<p>
		  Senha: <%= text_field_tag :password %>
		</p>
		<p>
		  <%= submit_tag "Entrar" %>
		</p>
<% end %>
