<html>
<head>
        <title>Tela do IM</title>
</head>
<script type="text/javascript">
		 <% if @client == nil %>
     					window.location.href="/login"  // put your correct path in a string here
		 <% end %>	

	$(document).ready(function()
	{
		setInterval(function() {

            $.get("/online_contacts", function(data){
                $("#contatos").html(data);
            });

			}, 2000);
});
</script>

<style type="text/css">
  #contatos
  {
    background-color: #000099;
    position: absolute;
    top: 0px;
    left: 79.5%;
    height: 100%;
    width: 300px;
  }

  .contato
  {
    color: white;
    font-weight: bold;

  }
</style>
<body>
        <h1>Instant Messaging</h1>
        <h1>Xmpp4r + Rails + Openfire</h1>
        <br>

        <hr>
                <%= $log %>
        <hr>

        <%= link_to "Sair", action: "sair"%>
        <hr>
        <h2>Meu Status</h2>
        <%= form_tag ({:action => "mudarStatus"}) do %> 
                <p>
                        <% if statusAtual == nil %>
                        <%  statusAtual = "Disponível" %>
                        <% end %>
                        Atual: <b>      <%= statusAtual %> </b>
                </p>
                <p>
                        Mudar Status: <%= select_tag :status,
                    options_for_select([
                        ['Disponível', nil], 
                        ['Ausente', "away"], 
                        ['Não pertube', "dnd"]]), 
                        :include_blank => true,
                        :onchange => "this.form.submit();"%>
                </p>
        <% end %>

		<hr>
		<h2> Mensagens </h2>
		<%= form_tag ({:action => "enviarMensagem"}) do %>
			<p> 
				Usuário: <%= text_field_tag :to %>
			</p>
			<p>
				<%= text_area_tag :mensagens, mensagens, :size => "50x10", :disabled => true %>

				<br>
				<%= text_field_tag :body ,"" , :size => 50 %>		
				<%= submit_tag "Enviar" %>
				<br>

			</p>
		<%end%>

        <hr>
        <h2>Lista de Usuarios Online</h2>
        <table>
                <div id="contatos">

                </div>
        </table>

</body>
</html>